# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
backend/venv/

# Django
backend/db.sqlite3
backend/.env

# Environment variables
.env
.env.*

# Node
frontend/node_modules/

# Build files
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db